.footer{
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}
.footerleft{
    width: 300px;
}
.footerright{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.a3{
    color: #6C5DD3;
}
.plorem{
    color: gray;
    font-size: 20px;
}
.a4{
    color: white;
}
.a5{
color: gray;
}
.socialmedia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}